<% provide(:title, 'Bread Making Class') %>
<h1><%= yield(:title) %></h1>
 <h2>GrunWaldの天然酵母パン教室</h2>
  <p>
   当教室ではホシノ天然酵母を利用しています。<br>
   一般のパン屋やパン教室と違い、濃い種を利用してパンを作ります。<br>
   それによって非常に香り高い美味しいパンとなりますが、<br>
   これは家庭でしかできないパン作りといえるでしょう。
  </p>
  <p>
   ですから私のパン教室はプロになりたい方というよりは、<br>
   家庭で心をこめてパンづくりをしたいという方に、ぜひいらしていただきたいと思います。
  </p>
  <p>
   当教室では、基本的に国産で体に良い食材を選び、パンの材料としています。<br>
   食生活に気を使っているという方にも、当教室のパンをおすすめいたします。
  </p>
  <p>
   美味しいパンの作り方を習得し、豊かで楽しいパン生活を楽しみましょう。
  </p>
 <h2>講師</h2>
  <%= image_tag("midoriomori.jpg", alt: "teacher", height: 300, align: "left", hspace: "20") %>
  <p>
   <b>大森みどり</b>
  </p>
  <p>
   1991年よりホシノ天然酵母パンを矢野さき子門下の福山洋子氏に師事。<br>
   夫と二人の子供がアレルギー体質であったため<br>
   食生活や天然酵母パンを研究して今に至る。
  </p>
  <br clear="left">
  <h2>開講教室</h2>
   <h3>基礎科</h3>
     <div>
      <li>毎年4月開講</li>
      <li>全10回</li>
      <li>第3火曜と第3土曜の10:00-14:30開講（パン制作、試食タイム込）</li>
      <li>1レッスン5,000円</li>
     </div>
    <h4>申込</h4>
     <p><font color="red">
      2015年度の基礎科は定員になりました。<br>
      以後申し込みされる方はキャンセル待ちとなります。
     </font></p>
     <p>
      申し込みは、こちらの<%= link_to "リンク", contact_path %>から。<br>
      （プロの方はご遠慮ください）
     </p>
    <h4>プログラム例</h4>
     <%= image_tag("kiso2012.jpg") %>
   <h3>応用科</h3>
     ※詳細はお申込みされた方にのみ開示
     <div>
      <li>毎年4月開講</li>
      <li>全10回</li>
     </div>
   <h3>研究科</h3>
     ※詳細はお申込みされた方にのみ開示
     <div>
      <li>毎年4月開講</li>
      <li>全10回</li>
     </div>
