- provide(:title, 'Cafe')
%h1= yield(:title)
%h2 GrunWaldのカフェ
.with_middle_text
  %p
    = image_tag("cafe.jpg", class: "withtext", alt: "cafe", height: "500", align: "left", hspace: "20")
  %p
    GrunWaldでは、春と秋の2日間、カフェを開いています。
    %br/
    当教室の講師 大森みどり が焼いた天然酵母パンを
    %br/
    皆様に味わっていただくパンのカフェです。
    %br/
    天然酵母のパンはもちろん、
    %br/
    洋菓子やキッシュ、月替わりのスープ、
    %br/
    こだわりの珈琲や紅茶を用意してお待ちしています。
    %br/
    ※開店日やメニューは
    %a{:href => "http://blogs.yahoo.co.jp/chiba_oomori"}ブログ
    をご覧ください。
    %br/
  %br{:clear => "left"}/
