<%= render 'layouts/fbtool' %>
<br><br>
<%= image_tag("bread-2561_640.jpg", alt: "top image", height: "400", align: "left", hspace: "10") %> 
<div class="fb-page" data-href="https://www.facebook.com/160967763957231" data-width="300" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/160967763957231"><a href="https://www.facebook.com/160967763957231">GrunWald-天然酵母パン教室</a></blockquote></div></div>
