= render 'layouts/fbtool'
%br/
%br/
= image_tag("bread-top.jpg", alt: "top image", height: "400", align: "left", hspace: "10")
.fb-page{"data-adapt-container-width" => "true", "data-height" => "400", "data-hide-cover" => "true", "data-href" => "https://www.facebook.com/160967763957231", "data-show-facepile" => "false", "data-show-posts" => "true", "data-small-header" => "true", "data-width" => "300"}
  .fb-xfbml-parse-ignore
    %blockquote{:cite => "https://www.facebook.com/160967763957231"}
      %a{:href => "https://www.facebook.com/160967763957231"} GrunWald-天然酵母パン教室
