- provide(:title, 'Shop')
%h1= yield(:title)
%p
  %b
    Tel : 
  (043) 241-4574
%p
  %b
    Address : 
  千葉県千葉市稲毛区黒砂1-5-2
  %br/
  （JR西千葉駅から徒歩10分、京成みどり台駅から徒歩2分）
%p
  = render 'layouts/shopmap'
%p
  教室の外階段が教室への入り口です
  %br/
  = image_tag("shop.png", alt: "shop image")
