#map{:style => "width:400px; height:300px"}
%script{:charset => "utf-8", :src => "http://js.api.olp.yahooapis.jp/OpenLocalPlatform/V1/jsapi?appid=dj0zaiZpPUJBc09HMnh6V1Z0YSZzPWNvbnN1bWVyc2VjcmV0Jng9ZjY-", :type => "text/javascript"}
:javascript
  window.onload = function(){
      var ymap = new Y.Map("map");
      ymap.drawMap(new Y.LatLng(35.62414327, 140.09560107), 16, Y.LayerSetId.NORMAL);
      ymap.addControl(new Y.CenterMarkControl());
      ymap.addControl(new Y.HomeControl());
      ymap.addControl(new Y.LayerSetControl());
      ymap.addControl(new Y.ScaleControl());
      ymap.addControl(new Y.SliderZoomControlVertical());
  }
